<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class = "row">
			<div class = "col-lg-10 col-offset-1">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target = ".navbar-responsive-collapse">
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Huddle Up", root_path,class: "navbar-brand" %>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<form class="navbar-form pull-right" action="login.php" method="post">
						<div class="col-lg-4 col-sm-4 in-line">
							<input type="text" class="form-control old-style" placeholder="Email" name="username">
						</div>
						<div class="col-lg-4 col-sm-4 in-line">
							<input type="password" class="form-control old-style" placeholder="Password" name="password">
						</div>
						<button type="submit" class="btn btn-default loginButton" name="login">Log in</button>
						<a href="register.php"class="btn btn-warning loginButton" name="login">Register</a>
					</form>
				</div>
			</div>
		</div>
	</div>	
	<div class="col-lg-1 visible-lg"></div>
</div>